<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clock</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    function get_time() {
        $.getJSON("/clock", function(result){
            $("#clock").text(result.clock);
            $("#counter").text(result.counter);
        });
    }
    </script>
</head>
<body onload="var intervalID = setInterval(function(){get_time();}, 500);">
    <div id="clock">bla</div>
    <div id="counter">blabla</div>
</body>
</html>